* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #1f2022;
	height: 100%;
	margin-top: 80px;
}

header {
	padding-top: 10px;
	width: 100%;
}

nav {
	text-align: center;
}

.nav-links {
	list-style: none;
	display: inline-flex;
}

.nav-link {
	text-decoration: none;
	color: #8B8C8D;
	font-size: 24px;
	margin: 25px; 
	cursor: pointer;
}

.nav-link:hover {
	color: #c6c7c8;
}

.dropdown-panel{
	display: none;
}

main {
	margin-top: 5px;
	position: relative;
}

.content {
	
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 64px;
	color: #FFFFFF;
}

.column{
	margin: 2em;
	justify-content: center;
}

#greet p {
	text-align: left;
	font-size: 30px;
	color: #8B8C8D;
	width: 556px;
}


#ProfilePic {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-top: 80px;
}


hr {
	width: 900px;
	height: 1px;
	margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
	background-color: #8B8C8D;
}

footer {
	display: flex;
	justify-content: center;
	/* letter-spacing: 0.2em; */
}

footer a:hover {
	text-decoration: none;
}

.social-container {
	display: inline-block;
	width: 180px;
	height: 36px;
	-webkit-perspective: 300px;
			perspective: 300px;
	font-size: 24px;
	margin-right: 8px;
}
.social-container .social-cube{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
transition: all 0.333s;
-webkit-transform: translateZ(-18px);
		transform: translateZ(-18px);
}
.social-container .social-cube .front, .social-container .social-cube .bottom {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
}
.social-container .social-cube .front {
-webkit-transform: rotateX(0deg) translateZ(18px);
		transform: rotateX(0deg) translateZ(18px);
}
.social-container .social-cube .bottom {
-webkit-transform: rotateX(-90deg) translateZ(18px);
		transform: rotateX(-90deg) translateZ(18px);
}
.social-container:hover .social-cube {
-webkit-transform: translateZ(-18px) rotateX(90deg);
		transform: translateZ(-18px) rotateX(90deg);
}

.social-container.github .social-cube .front{
background: #9b59b6;
}

.social-container.github .social-cube .bottom{
background: #8e44ad;
}

.social-container.github:hover .social-cube .front{
background: #9b59b6;
}

.social-container.github:hover .social-cube .bottom{
background: #8e44ad;
}

.social-container.linkedin .social-cube .front{
background: #0064bf;
}

.social-container.linkedin .social-cube .bottom{
background: #0056a1;
}

.social-container.linkedin:hover .social-cube .front{
background: #0064bf;
}

.social-container.linkedin:hover .social-cube .bottom{
background: #0056a1;
}


@media only screen and (max-width: 800px) {
	#ProfilePic {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	header{
		display: flex;
		justify-content: flex-end;
		height: 20px;
		padding-top: 0px;
		padding-right: 50px;
	}
	h1 {
		font-size: 34px;
		color: #FFFFFF;
	}

	#greet p {
		text-align: left;
		font-size: 15px;
		color: #8B8C8D;
		width: 80%;
	}

	.column.two {
		display: none;
	}

	.social-container {
		display: none;
	}

	nav {
		display: none;
	}
}