* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #1f2022;
	height: 100%;
	margin-top: 80px;
}

header {
	padding-top: 10px;
	width: 100%;
}

nav {
	text-align: center;
}

.nav-links {
	list-style: none;
	display: inline-flex;
}

.nav-link {
	text-decoration: none;
	color: #8B8C8D;
	font-size: 24px;
	margin: 25px; 
	cursor: pointer;
}

.nav-link:hover {
	color: #c6c7c8;
}

.icon{
	display: none;
}

main {
	margin-top: 5px;
	padding-left: 20%;
	position: relative;
}

h1 {
	font-size: 64px;
	color: #FFFFFF;
}

.column{
	float: left;
	min-width: 35%;
	margin: 2em;
}

#greet p {
	text-align: left;
	font-size: 30px;
	color: #8B8C8D;
	width: 556px;
}

#outer {
	background-color: #191A1C;
	width: 432px;
	height: 527px;
	border-radius: 10px;
}

#ProfilePic {
	width: 350px;
	height: 448px;
	border-radius: 5px;
	margin: 10%;
}

.social-container {
	display: inline-block;
	width: 180px;
	height: 36px;
	-webkit-perspective: 300px;
			perspective: 300px;
	font-size: 24px;
	margin-right: 8px;
	}
.social-container .social-cube{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
transition: all 0.333s;
-webkit-transform: translateZ(-18px);
		transform: translateZ(-18px);
}
.social-container .social-cube .front, .social-container .social-cube .bottom {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
}
.social-container .social-cube .front {
-webkit-transform: rotateX(0deg) translateZ(18px);
		transform: rotateX(0deg) translateZ(18px);
}
.social-container .social-cube .bottom {
-webkit-transform: rotateX(-90deg) translateZ(18px);
		transform: rotateX(-90deg) translateZ(18px);
}
.social-container:hover .social-cube {
-webkit-transform: translateZ(-18px) rotateX(90deg);
		transform: translateZ(-18px) rotateX(90deg);
}

.social-container.github .social-cube .front{
background: #9b59b6;
}

.social-container.github .social-cube .bottom{
background: #8e44ad;
}

.social-container.github:hover .social-cube .front{
background: #9b59b6;
}

.social-container.github:hover .social-cube .bottom{
background: #8e44ad;
}

.social-container.linkedin .social-cube .front{
background: #0064bf;
}

.social-container.linkedin .social-cube .bottom{
background: #0056a1;
}

.social-container.linkedin:hover .social-cube .front{
background: #0064bf;
}

.social-container.linkedin:hover .social-cube .bottom{
background: #0056a1;
}

@media only screen and (min-width: 600px) {
	
}