* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f6e58d;
	height: 100vh;
}

.dragItem {
	width: 170px;
	height: 170px;
	background-color:#dfe6e9;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
}
.dragItem p {
	padding: 5px;
	user-select: none;
}

#createNew {
	background-color: #dfe6e9;
	width: 55px;
	height: 55px;
	font-size: 50px;
	text-align: center;
	border-style: solid;
	border-radius: 50%;
	user-select: none;
	position: absolute;
	top: 20px;
	right: 20px;
}

#createNew:hover {
	background-color: #c1c5c7;
	cursor: pointer;
}

#createNew span{
	
	justify-content: center;
	margin: 0;
	padding: 0;
}