body {
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #FFD472;
	color: #393E46;
}

nav {
	text-align: left;
	padding-left: 30px;
}

.container {
	padding-top: 300px;
	text-align: center;
	display: block;
}

#status {
	font-size: 72px;
}

#timer {
	font-size: 72px;
	letter-spacing: 2px;
}

.box-wrapper{
	display: inline-block;
	height: auto;
	width: auto;
	margin-right: 28px;
}

.box1, .box2{
	float: left;
}

.box2 {
	margin-left: 20px;
	margin-top: 5px;
	width: 90px;
}

.box1 p {
	text-align: left;
	line-height: 8px;
}

input, input:focus, textarea:focus {
	width: 81px;
	border-radius: 2px;
	border: none;
	outline: none;
}

.btn1 {
	margin: 0 0.9%;
	cursor: pointer;
	pointer-events: auto;
	color: #EEEEEE;
	width: 125px;
	height: 50px;
	background-color: #393E46;
	border-radius: 50px;
	border: none;
	outline: none;
}

.btn2 {
	display: block;
	margin: 0 50.3%;
	cursor: pointer;
	pointer-events: auto;
	color: #EEEEEE;
	width: 67px;
	height: 25px;
	background-color: #393E46;
	border-radius: 50px;
	border: none;
	outline: none;

}

button:active {
	transform: scale(1.05);	/*background-color: #8d743f;*/
}

@media screen and (max-width: 900px) {
	.container {
		padding-top: 100px;
	}
	#status{
		line-height: 1em;
		padding-bottom: 30px;
	}
}